body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.sezione {
    display: flex; 
    align-items: center;         
    gap:34.67px;
}

h3 {
    font-size:large;
}

.testo {
    width: 60%;
}

.immag {
    width: 40%;
}

.immag img {
    width: 100%;
}

main{
    margin: 20px;
}

p {
    font-size: 17px;
}